---

---

<header>
    <h1><span class="text-gradient">Astro</span> is my first framework, you chek my code in <code>Amoeba/src</code></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, illo ducimus. Excepturi numquam beatae, harum libero minima inventore, placeat perspiciatis omnis in, natus id? Quidem!</p>
</header>

<style>
    header{
        background: linear-gradient(navy, #171744 );
        padding: 10px;
        font-size: 0.9rem;
        border-radius: 10px;
        width: auto;
        height: auto;
        margin: 0 auto;
    }

    code{
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 10px;
        padding: 2px;
    }

    h1,
    p{
        text-align: center;
    }
    
    .text-gradient{
        background-color: linear-gradient(105deg, cyan, blue);
    }
</style>